<div class="scholarship">
<div class="title">
    <mat-card-title>{{title}}</mat-card-title>
 </div>
<form class="scholarships-form" [formGroup]="scholarshipForm"  (ngSubmit)="onSubmit()">
  <div class="container">
     <mat-card>
       <div>
         <mat-form-field>
          <input matInput type="text | number" 
                          formControlName="Scholarship_type" 
                          placeholder="Scholarship Type">
             <span *ngIf="scholarshipForm.get('Scholarship_type').errors?.required"></span>
          </mat-form-field>
       </div>
       <div>
         <mat-form-field>
          <input matInput type="string"
                          formControlName="Application_Code"
                          placeholder="Application Code">
            <span *ngIf="scholarshipForm.get('Application_Code').errors?.required"></span>
         </mat-form-field>        
       </div>
        <div>
            <mat-form-field>
             <input matInput [matDatepicker]="picker" 
                             placeholder="Choose a Date"
                             formControlName="Date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>       
          </div>
     </mat-card>
   </div>
   <div class="btn">
    <mat-card-actions>
        <button mat-raised-button class="btn"  color="primary"
                type="submit"
                [disabled]= "!scholarshipForm.valid" >
                                    submit
                                  </button>
        <button mat-raised-button class="btn"  color="warn"
                                    type="submit">
                                    cancel
                                  </button>     
    </mat-card-actions>
</div>
 </form>
</div>
 {{scholarshipForm.value | json}}
   