<div class="user">
<div>
    <mat-card-title class="title">{{title}}</mat-card-title>
</div>
<form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
     <mat-card class="user-card">
        <div class="body">
          <div>
            <mat-form-field class="wrap">
              <input matInput type="string"
                              formControlName="First_Name"
                              placeholder="First Name"
                              required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="wrap">
              <input matInput type="string"
                              formControlName="Last_Name"
                              placeholder="User Name"
                              required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="wrap">
              <input matInput type="string | number"
                              formControlName="User_Name"
                              placeholder="Last Name"
                              required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="wrap">
              <input matInput type="email"
                              formControlName="Email"
                              placeholder="Email"
                              email
                              required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field hintLable="must be atleast 6 characters." class="wrap">
              <input matInput [type]="hide ? 'password':'text'"
                              placeholder="Password"
                             formControlName="Password"
                             required
                             minlength="6">
                     <mat-icon matSuffix (click)="hide = !hide">
                       {{hide ? 'visibility' : 'visibility_off'}}
                     </mat-icon>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="wrap">
              <input matInput type="password"
                              placeholder="Confirm Password"
                              required>
                              <mat-icon matSuffix (click)="hide = !hide">
                                {{hide ? 'visibility' : 'visibility_off'}}
                              </mat-icon>
            </mat-form-field>
          </div>
      </div>
     
     </mat-card>
     <div class="btn">
      <mat-card-actions>
          <button mat-raised-button class="btn"  color="primary"
                                    type="submit" > 
                                    submit
                                    </button>
      </mat-card-actions>
    </div>
   </div>
 </form>
</div>

  <!-- {{userForm.value | json}} -->

