<mat-toolbar color='primary'>
    <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Smart School Managment</span>
        <span class="spacer"></span>
        <button mat-button *ngFor="let link of links" 
        [routerLink]="link.path"
        routerLinkActive="active">
            {{link.label}}
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="cont">
    <mat-sidenav #drawer mode="side" class="app-sidenav">
        <app-menus ></app-menus>                
    </mat-sidenav>
    <div class="app-content">
            
        <router-outlet>
        </router-outlet>
    </div>
</mat-sidenav-container>