

  

    <form (ngSubmit)="onSubmit()" [formGroup]="studentForm">
        <mat-card>
            <mat-card-content>
      <div class="student-container">      
      
        <mat-form-field appearance="outline">
          <input 
                  type="text"
                  matInput
                              
                  placeholder="Full Name"
                  formControlName="full_name"                  
                >                
                  <mat-hint align="start">{{studentForm.get('full_name').value?.length || 0}}/10</mat-hint>
                <mat-error *ngIf="studentForm.get('full_name').errors?.required">Full Name is Required</mat-error>                
              </mat-form-field>
      
        
        <mat-form-field>
          <mat-select name="blood_group" placholder="Blood Group" formControlName="blood_group">
            <mat-option *ngFor="let blood of bloodTypes" [value]="blood">{{blood}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>          
          <input formControlName="birthdate" [matDatepicker]="picker" matInput placeholder="Birth date"  />
          <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker startView="year" #picker></mat-datepicker>
        </mat-form-field>     
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <button 
              mat-raised-button
              type="submit"
              color="primary"
              [disabled]="studentForm.invalid"
                        >
                        Submit 
            </button>
          </div>
          <div class="col-sm-6 col-xs-6">
              <button 
                mat-raised-button            
                color="warn"
                [disabled]="studentForm.submitted"
                          >
                       Cancel              
              </button>
            </div>  
        </div>
        
      </div>
      TODO: Remove diagnostic
      <p>form Value {{studentForm.value | json}}</p>
    </mat-card-content>
  </mat-card>
  <output  *ngIf="error?.length">
    <div class="alert alert-danger" *ngFor="let err of error">{{err}}</div>
  </output>
    </form>
