

    <form (ngSubmit)="onSubmit()" [formGroup]="studentForm">
    <mat-card class="mat-elevation-z8">
      <mat-card-content>
      <div class="container">       
        <div class="row">
        <div class="col-sm-6 col-xs-12">
      <div class="student-container">
        <mat-form-field appearance="outline">
          <input 
                  type="text"
                  matInput
                              
                  placeholder="Full Name"
                  formControlName="full_name"                  
                >                
          <mat-hint align="start"></mat-hint>
          <mat-error *ngIf="studentForm.get('full_name').errors?.required">Full Name is Required</mat-error>                
        </mat-form-field> 
           
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>

        <div class="row">
        <div class="col-sm-6 col-xs-6">       
        <mat-form-field>      
          <mat-select name="blood_group" placeholder="Blood Group" formControlName="blood_group">
            <mat-option *ngFor="let blood of bloodTypes" [value]="blood">{{blood}}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
  
      <div class="col-sm-6 col-xs-12">         
        <mat-form-field>          
          <input formControlName="birthdate" [matDatepicker]="picker" matInput placeholder="Birth date"  />
          <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker startView="year" #picker></mat-datepicker>
        </mat-form-field>
      </div>       
    </div>
    </div>
  </div>
   </div> 
   <div class="row well well-ld" formGroupName="addressForm">
     <div class="col-sm-4">
       <mat-form-field>
         <input matInput placeholder="woreda" formControlName="wereda">
       </mat-form-field>
      
     </div>

     <div class="col-sm-4">
       <mat-form-field>
         <input matInput placeholder="Kebele" formControlName="kebele">
       </mat-form-field>
     </div>
     <div class="col-sm-4">
       <mat-form-field>
         <input matInput placeholder="Region" formControlName="region">
       </mat-form-field>
     </div>
     <div class="col-sm-5">
       <mat-form-field>
         <input matInput placeholder="Mobile Number" formControlName="mobile">
       </mat-form-field>
     </div>
     <div class="col-sm-5">
       <mat-form-field>
         <input matInput placeholder="Phone Number" formControlName="phone">
       </mat-form-field>
     </div>
     <div class="col-sm-2">
       <mat-form-field>
         <input matInput placeholder="Postal Code" formControlName="post_code" >
       </mat-form-field>
     </div>
     <div class="col-sm-6">
       <mat-select placeholder="Type" formControlName="type">
         <mat-option value="Permanent">Permanent</mat-option>
         <mat-option value=Temporary>Temporary</mat-option>
       </mat-select>
     </div>
   </div>
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <button 
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="studentForm.invalid"
                      >
                      Submit 
          </button>
        </div>
        <div class="col-sm-6 col-xs-6">
            <button 
              mat-raised-button            
              color="warn"
              [disabled]="studentForm.submitted"
                        >
                      Cancel              
            </button>
          </div>  
      </div>
    </div>
  </mat-card-content>
</mat-card>
      TODO: Remove diagnostic
      <p>form Value {{studentForm.value | json}}</p>
  <output  *ngIf="error?.length">
    <div class="alert alert-danger" *ngFor="let err of error">{{err}}</div>
  </output>
    </form>