<form class="employee-form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div>
       <mat-card class="employee-card">
         <div class="title">
           <mat-card-title>{{title}}</mat-card-title>
         </div>
         <div>
           <mat-form-field>
            <input matInput type="string | number" 
                            formControlName="Employee_Id" 
                            placeholder="Employee Id">
            </mat-form-field>
         </div>
         <div>
           <mat-form-field>
            <input matInput type="string"
                            formControlName="Full_Name"
                            placeholder="Full_Name">
           </mat-form-field>        
         </div>
         <div>
           <section class="employee-section">
              <label class="employee-margin">Gender:</label>
                 <mat-radio-group [(ngModel)]="labelPosition"
                                  formControlName="Gender">                 
                   <mat-radio-button class="employee-margin" value="female">female</mat-radio-button>
                   <mat-radio-button class="employee-margin" value="male">male</mat-radio-button>
                 </mat-radio-group>
           </section>                
         </div>
         <div>
           <mat-form-field>
            <input matInput [matDatepicker]="picker1" 
                            placeholder="Choose Birth Date"
                            formControlName="Birth_Date">
                     <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                     <mat-datepicker #picker1></mat-datepicker>
           </mat-form-field>       
         </div>
         <div>
             <mat-form-field>
                 <input matInput type="string | number"
                                 placeholder="Address"
                                 formControlName="Address_Code">
             </mat-form-field>
         </div>
         <div>
               <mat-form-field>
                 <input matInput [matDatepicker]="picker" 
                                placeholder="Choose Employment Date"
                                formControlName="Employment_Date">
                         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                         <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>       
             </div>
             <div>
               <mat-form-field>
                   <mat-select placeholder="Blood Group">
                       <mat-option *ngFor="let blood of Blood_Group" [value]="blood">
                               {{ blood }}
                       </mat-option>
                   </mat-select>
               </mat-form-field>
             </div>
       </mat-card>
     </div>
     <div class="btn">
      <mat-card-actions>
          <button mat-raised-button class="btn"  color="primary"
                                    type="submit" > 
                                    submit
                                    </button>
          <button mat-raised-button class="btn"  color="warn"
                                      type="submit">
                                      cancel
                                    </button>     
          
      </mat-card-actions>
    </div>
   </form>
       

         {{employeeForm.value | json}}