.employee-form {
    min-width: 200px;
    max-width: 800px;
    width: 100%;
    padding-left: 35%;
  }
  
  .employee-full-width {
    width: 100%;
  }
  .employee-section {
    display: flex;
    align-content: center;
    align-items: center;
  }
  
  .employee-form {
    margin: 2% 10px;
  }
 

  .btn {
    padding-left: 15%;
    size: 20ex;
  }
  .title {
    padding-left: 30%;
  }